/* Home page */

main {
  font-size: 130%;
  font-weight: bolder;
  color: black;
  padding-top: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 1px 20px 15px;
  text-align: justify;
}

.homePage {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.homePage-content {
  padding: 51px 67px;
  grid-column: span 4;
  background: var(--dark-grey);
  color: var(--white);
  position: relative;
  text-align: left;
  min-width: 424px;
  max-height: 657px;
  z-index: 1;
}

.homePage-content h1 {
  font-size: 96px;
  font-weight: normal;
  white-space: nowrap;
}

.homePage-content p {
  width: 146%;
  font-weight: normal;
  margin-top: 57px;
  padding: 0;
}

.homePage-img {
  grid-column: span 8;
}

.homePage-img img {
  width: 100%;
  max-height: 657px;
  display: block;
}

/* <!-- Responsive --> */

/* <!-- Laptop S --> */
@media screen and (max-width: 1024px) {
  .homePage-img img {
    width: auto;
    height: 100%;
  }
}

/* <!-- Tablet --> */
@media screen and (max-width: 768px) {
  .homePage {
    display: block;
    box-shadow: unset;
    padding-bottom: 90px;
  }

  .homePage-img img {
    width: 100%;
  }

  .homePage-content {
    background: var(--white);
    color: var(--black);
    padding: 0 60px 20px 0;
  }

  .homePage-content .btn-signup {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 737px;
  }

  .homePage-content h1 {
    font-size: 72px;
    font-weight: 500;
  }

  .homePage-content p {
    width: unset;
    font-size: 24px;
  }

  .homePage-img img {
    border-radius: 10px;
    margin-top: 36px;
  }
}

/* <!-- Mobile L --> */
@media screen and (max-width: 425px) {
  .homePage {
    padding-bottom: 60px;
  }

  .homePage-content h1 {
    font-size: 40px;
  }

  .homePage-content p {
    font-size: 13px;
    font-weight: 400;
    margin-top: 17px;
  }

  .homePage-content .btn-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 422.5px;
    left: 45%;
    width: 141px;
    height: 31px;
    font-size: 14px;
    font-weight: 500;
  }
}

/* <!-- Mobile M --> */
@media screen and (max-width: 375px) {
  .homePage {
    padding-bottom: 60px;
  }

  .homePage-content {
    padding: 0 0 20px 0;
  }

  .homePage-content h1 {
    font-size: 33px;
  }

  .homePage-content p {
    max-width: 75%;
  }

  .homePage-img img {
    margin-top: 10px;
  }

  .homePage-content .btn-signup {
    margin-top: 349.5px;
    left: 37%;
  }
}

/* <!-- Mobile S --> */
@media screen and (max-width: 320px) {
  .homePage {
    padding-bottom: 60px;
  }

  .homePage-content {
    padding: 0 30px 20px 0;
  }

  .homePage-content h1 {
    font-size: 27px;
  }

  .homePage-content p {
    max-width: 70%;
  }

  .homePage-content .btn-signup {
    margin-top: 300.5px;
    left: 31%;
  }
}
