/* Home page */
p {
  margin-bottom: 0;
  padding: 0.5vw;
}

main {
  font-size: 130%;
  font-weight: bolder;
  color: black;
  padding-top: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 1px 20px 15px;
  border-radius: 2rem;
  text-align: justify;
}

.modal-btn {
  font-size: 145%;
  background: var(--red);
  display: flex;
  margin: auto;
  padding: 2em;
  color: var(--white);
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.modal-btn:hover {
  background: var(--blue);
}
