/* <!-- General --> */

:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;

  /* <!-- Colors --> */
  --red: #fe142f;
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #232323;
  --light-grey: #c4c4c4;
  --red-error: #e54858;
  --light-green: #279e7a;
  --blue: #3876ac;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--font-default);
  font-size: 18px;
  max-width: 1240px;
  margin: 0 auto;
}

ul {
  display: flex;
  list-style-type: none;
}

a {
  color: var(--black);
  text-decoration: none;
}
