/* <!-- Footer --> */

footer {
  margin: 85px 0 60px -40px;
}

.copyrights {
  color: var(--red);
  padding: 0;
  font-size: 17px;
  font-family: Roboto;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .copyrights {
    margin-top: 50px;
    text-align: center;
  }
}

/* <!-- Responsive --> */

/* <!-- Laptop S --> */
@media screen and (max-width: 1024px) {
  footer {
    margin: 85px 0 60px 20px;
  }
}

/* <!-- Tablet --> */
@media screen and (max-width: 768px) {
  footer {
    margin: -35px 0 20px 0;
  }

  .copyrights {
    font-size: 15px;
  }
}
