/* <!-- Header --> */

header {
  display: flex;
  align-items: center;
  margin: 52px 45px 84px 45px;
}

header nav {
  margin-left: auto;
}

header img {
  width: 277px;
  height: 50px;
}

header a {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: block;
  padding: 12px 12px;
}

header a:not(.icon):hover {
  background-color: var(--red);
  color: var(--white);
  border-radius: 15px;
}

header a.active {
  background-color: var(--red);
  color: var(--white);
  border-radius: 15px;
  margin-right: 5px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1.5px;
}

header .icon {
  display: none;
}

/* <!-- Responsive --> */

/* <!-- Laptop S --> */
@media screen and (max-width: 1024px) {
  header img {
    width: 225px;
    height: 40px;
  }

  header a {
    font-size: 16px;
  }
}

/* <!-- Tablet --> */
@media screen and (max-width: 768px) {
  header {
    display: block;
  }

  .header-top {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav ul {
    display: none;
  }

  header.responsive ul {
    display: flex;
    flex-direction: column;
  }

  header.responsive a:not(.icon) {
    padding: 15px 20px;
    border-bottom: 1px solid var(--light-grey);
    text-align: center;
  }

  header a.icon {
    display: block;
    font-size: 25px;
    color: var(--red);
  }
}

/* <!-- Mobile --> */
@media screen and (max-width: 425px) {
  header {
    margin: 33px 30px 28px 30px;
  }

  header img {
    width: 130px;
    height: 25px;
  }

  header a {
    font-size: 15px;
  }

  header a.icon {
    font-size: 20px;
  }

  header.responsive a {
    padding: 12px 20px;
  }
}
