/* <!-- Header --> */

header {
  overflow: hidden;
  margin: 3.5%;
}

header nav {
  float: right;
}

header a {
  display: block;
  padding: 12px 12px;
  margin: 5px;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

header a:hover {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 15px;
}

header a.active {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 15px;
}

header .icon {
  display: none;
}

/* <!-- Responsive Header --> */

/* <!-- Tablet --> */
@media screen and (max-width: 768px) {
  header a {
    display: none;
  }
  header a.icon {
    float: right;
    display: block;
  }

  header.responsive {
    position: relative;
  }
  header.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  header.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 540px) {
  header a {
    display: none;
  }
  header a.icon {
    float: right;
    display: block;
    margin-top: -15px;
  }
}
