.validation {
  height: 850px;
  text-align: center;
}

.validation .modal-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bground {
  display: none;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

.modal-body h2 {
  margin: 330px 0;
  color: var(--white);
  text-align: center;
  font-family: "DM Sans";
  font-size: 36px;
  font-weight: 400;
}

/* <!-- Responsive --> */

/* <!-- Mobile --> */
@media screen and (max-width: 425px) {
  .bground.confirmation-modal {
    align-items: flex-end;
  }

  .validation {
    margin: 0 0 -45px 0;
  }

  .validation .modal-body {
    margin: -35px auto;
  }
}
